<div class="container mt-4">

  <h1 class="display-4">Edit Schedules</h1>

  <div *ngIf="loading" class="spinner-border"></div>

  <div class="container">
    <div class="row">
      <div class="col-md">
        <h5 class="text-primary text-lg font-weight-bold">
          {{residentSchedules?.foreName}} {{residentSchedules?.surName}}
        </h5>
      </div>
      <div class="col-md text-right">
        <button id="add-schedule" class="btn btn-primary btn-sm" (click)="openModal(contentAdd, 0)">Add</button>
      </div>
    </div>
  </div>
  <hr />

  <div class="container" *ngIf="residentSchedules.schedules.length > 0">
    <div class="row bg-info text-white mb-3">
      <div class="col-md">
        <div><strong>From</strong></div>
      </div>
      <div class="col-md">
        <div><strong>Description</strong></div>
      </div>
      <div class="col-lg">
        <div><strong>ScheduleBeginDate</strong></div>
      </div>
      <div class="col-lg">
        <div><strong>ScheduleEndDate</strong></div>
      </div>
      <div class="col-sm text-right">
        <div><strong>WeeklyFee</strong></div>
      </div>
      <div class="col-sm text-right">
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row mt-1" *ngFor="let schedule of residentSchedules.schedules">
      <div class="col-md">
        {{schedule.paymentFrom}}
        <span *ngIf="schedule.paymentFromName" style="font-size: .8rem;">{{schedule.paymentFromName | slice:0:8}}...</span>
      </div>
      <div class="col-lg">
        {{schedule.description}}
      </div>
      <div class="col-lg">
        {{schedule.scheduleBeginDate | date}}
      </div>
      <div class="col-md">
        {{schedule.scheduleEndDate | date}}
      </div>
      <div class="col-md text-right">
        {{schedule.weeklyFee | number : '1.2-2'}}
      </div>
      <div class="col-md text-right">
        <button type="button" class="btn btn-outline-dark btn-sm"
          [attr.data-cy-schedule-expire]="schedule.description"
          (click)="openModal(content, schedule.id)">Expire</button>
        <button type="button" class="btn btn-outline-dark btn-sm mr-1"
          [attr.data-cy-schedule-delete]="schedule.description"
          (click)="openModal(contentConfirm, schedule.id)">Delete</button>
      </div>
    </div>
  </div>


  <div class="font-sm mt-5">
    <hr />
    Note: When a resident move out or passed away, update exit date in [residents] tab.
    <hr />
  </div>



  <!-- set schedule end date modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Schedule End</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
          <label for="dateOfExit">Exit Date</label>
          <div class="input-group">
            <input id="dateOfExit" class="form-control" placeholder="yyyy-mm-dd" name="dp" (dateSelect)="onScheduleEndDateChange_1($event)" (blur)="onScheduleEndDateBlur_1($event)" ngbDatepicker #dp="ngbDatepicker">
             <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar"  (click)="dp.toggle()" type="button"></button>
            </div>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="save-schedule-exit" [disabled]="saving" class="btn btn-primary" (click)="updateScheduleEndDate()">
        <span *ngIf="saving" class="spinner-border spinner-border-sm mr-1"></span>
        Save
      </button>
    </div>
  </ng-template>
  <!-- endof schedule end date -->


  <!-- modal for create schedule -->
  <ng-template #contentAdd let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create Schedule</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <form [formGroup]="createScheduleForm">
        <div class="form-group">
          <label for="paymentFrom">Payment Providers</label>
          <div class="input-group">
            <select id="paymentFrom" class="form-control" (change)="onPaymentFromChange($event)">
              <option value='' selected>Choose</option>
              <option *ngFor="let pp of paymentProviders; let i = index" [value]="pp.id">
                {{pp.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="paymentType">Payment Type</label>
          <div class="input-group">
            <select id="paymentType" class="form-control" (change)="onPaymentTypeChange($event)">
              <option value='' selected>Choose</option>
              <option *ngFor="let pt of paymentTypes; let i = index" [value]="pt.id">
                {{pt.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <div class="input-group">
            <input type="text" class="form-control" [disabled]="disablePaymentDescriptionText" id="description" name="description" (change)="onDescriptionChange($event)" placeholder="" [value]="newSchedule.description">
          </div>
        </div>

        <div class="form-group">
          <label for="scheduleBeginDate">Schedule Begin Date</label>
          <div class="input-group">
            <input id="scheduleBeginDate" class="form-control" placeholder="yyyy-mm-dd" name="scheduleBeginDate" (dateSelect)="onScheduleBeginDateChange($event)" (blur)="onScheduleBeginDateBlur($event)" ngbDatepicker #scheduleBeginDate="ngbDatepicker">
              <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar"  (click)="scheduleBeginDate.toggle()" type="button"></button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="dpScheduleEndDate_2">Schedule End Date</label>
          <div class="input-group">
            <input id="dpScheduleEndDate_2" class="form-control" placeholder="yyyy-mm-dd" name="dpScheduleEndDate_2" formControlName="dpScheduleEndDate_2" (dateSelect)="onScheduleEndDateChange_2($event)" (blur)="onScheduleEndDateBlur_2($event)" ngbDatepicker #dpScheduleEndDate_2="ngbDatepicker" [startDate]="{year: 9999, month: 12}">
              <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar"  (click)="dpScheduleEndDate_2.toggle()" type="button"></button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="description">Weekly Fee</label>
          <div class="input-group">
            <input type="number" class="form-control" id="weeklyFee" name="weeklyFee" (change)="onWeeklyFeeChange($event)" placeholder="">
          </div>
        </div>
      </form>

    </div>
    <div class="modal-footer">
      <div *ngIf="error">{{error}}</div>
      <button type="button" id="create-schedule" [disabled]="saving" class="btn btn-primary" (click)="createNewSchdule()">
        <span *ngIf="saving" class="spinner-border spinner-border-sm mr-1"></span>
        Save
      </button>
    </div>
  </ng-template>
<!-- endof modal for create schedule -->


  <!-- confirm modal -->
  <ng-template #contentConfirm let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Confirm</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
          <span>Are you sure you want to delete? </span>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="schedule-delete-btn" [disabled]="saving" class="btn btn-primary" (click)="disableSchedule()">
        <span *ngIf="saving" class="spinner-border spinner-border-sm mr-1"></span>
        Save
      </button>
    </div>
  </ng-template>
  <!-- endof comfirm modal -->





</div>