<div *ngIf="selectedCategoryId > 0">
  <div class="row">
    <div class="col-5"><label class="text-primary">Action</label></div>
    <div class="col-3"><label class="text-primary">completion Date</label></div>
    <div class="col-2"><label class="text-primary">Owner</label></div>
    <div class="col-2"><label class="text-primary">Priority</label></div>
  </div>
</div>

<ng-container class="row" *ngFor="let act of meetingActionRequests">
  <div *ngIf="selectedCategoryId==act.meetingCategoryId">
    <div class="row">
      <div class="col-5">
        <span>
          <input style="width: 20px; height: 20px;" type="checkbox" value="" [(ngModel)]="act.checked" id="isActionSelected" name="isActionSelected">
        </span>
        <span class="text-primary ml-2">{{act.name}} may be longer</span>
        <!-- <div *ngIf="act.id === -1">
          <div class="text-primary mt-1">Name and Description</div>
          <div>
            <input type="text" class="form-control" id="title2" name="title2" [(ngModel)]="act.name"
            placeholder="" />
          </div>
          <div>
            <textarea class="form-control" id="description2" name="description2" [(ngModel)]="act.description"
            placeholder=""></textarea>
          </div>
        </div> -->
      </div>
      <div class="col-3">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="act.completionDate"
            id="completionDate" name="completionDate" ngbDatepicker #d25="ngbDatepicker" [readonly]="true">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d25.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div>
          <select class="input-group" style="height:2rem; width: 10rem;" id='owner' [(ngModel)]="act.ownerId">
            <option value=0>Choose...</option>
            <option *ngFor="let owner of actionOwners" [value]="owner.id">
              {{owner.name}}
            </option>
          </select>
        </div>
        <div>
          <!-- <label class="text-primary for="frequency">Frequency</label> -->
          <select class="input-group mt-2" style="height:2rem; width: 10rem;" id='frequency' [(ngModel)]="act.frequency">
            <option value="">Choose...</option>
            <option *ngFor="let fq of frequency" [value]="fq">
              {{fq}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-2">
        <div>
          <select class="input-group" style="height:2rem; width: 10rem;" id='priority' [(ngModel)]="act.priority">
            <option value=''>Choose...</option>
            <option *ngFor="let priority of priorities" [value]="priority">
              {{priority}}
            </option>
          </select>
        </div>
        <div>
          <!--  <label class="text-primary mt-2" for="repetition">Repetition</label> -->
          <select class="input-group mt-2" style="height:2rem; width: 10rem;" id='repetition' [(ngModel)]="act.repetition">
            <option value=0>Choose...</option>
            <option *ngFor="let rep of repetition" [value]="rep">
              {{rep}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="h-divider"></div>

  </div>
</ng-container>
