<div>address form</div>
<form [formGroup]="addressForm">

  <div class="form-group">
    <label for="street1">Street 1</label>
    <input type="text" class="form-control" id="street1" name="street1" formControlName="street1" (change)="onStreet1Change($event)" placeholder="">
  </div>

  <div class="form-group">
    <label for="street2">Street 2</label>
    <input type="text" class="form-control" id="street2" name="street2" formControlName="street2" (change)="onStreet2Change($event)" placeholder="">
  </div>

  <div class="form-group">
    <label for="city">City</label>
    <input type="text" class="form-control" id="city" name="city" formControlName="city" (change)="onCityChange($event)" placeholder="">
  </div>

  <div class="form-group">
    <label for="county">County</label>
    <input type="text" class="form-control" id="county" name="county" formControlName="county" (change)="onCountyChange($event)" placeholder="">
  </div>

  <div class="form-group">
    <label for="postCode">PostCode</label>
    <input type="text" class="form-control" id="postCode" name="postCode" formControlName="postCode" (change)="onPostCodeChange($event)" placeholder="">
  </div>
</form>