<div class="container mt-5">

  <!-- row 1-->
  <div class="row">
    <div class="col-md">
      <div class="card" style="width: 18rem; height: 15rem;">
        <div class="card-header bg-info text-white">
          <h5 class="card-title">Invoice Report</h5>
        </div>
        <div class="card-body bg-light">
          <p class="card-text">Report on invoices and occupancy</p>
          <div>
            <button class="btn btn-primary" id="report-by-date-btn" (click)="navToInvReportByDateRange()">By Date Range</button>
          </div>
          <div>
            <button class="btn btn-primary mt-2" id="report-by-billing-cycle-btn" (click)="navToInvReportByBillingCycle()">By Billing Cycle</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="card" style="width: 18rem; height: 15rem;">
        <div class="card-header bg-info text-white">
          <h5 class="card-title">Schedules</h5>
        </div>
        <div class="card-body bg-light">
          <p class="card-text">Manage resident schedules</p>
          <button class="btn btn-primary" id="schedules-btn" (click)="navToSchedules()">Schedules</button>
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="card" style="width: 18rem; height: 15rem;">
        <div class="card-header bg-info text-white">
          <h5 class="card-title">Spends</h5>
        </div>
        <div class="card-body bg-light">
          <p class="card-text">Manage spend categories and budgets</p>
          <div>
            <button class="btn btn-primary" style="width: 12rem;" id="categories-btn" (click)="navToCategories()">Spend Categories</button>
          </div>
          <div>
            <button class="btn btn-primary mt-2" style="width: 12rem;" id="budgets-btn" (click)="navToBudgets()">Budget Allocation</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- row 2-->
  <div class="row mt-3">
    <div class="col-md">
      &nbsp;
    </div>
    <div class="col-md">
      &nbsp;
    </div>
    <div class="col-md">
      <div class="card" style="width: 18rem; height: 15rem;">
        <div class="card-header bg-info text-white">
          <h5 class="card-title">Meetings</h5>
        </div>
        <div class="card-body bg-light">
          <p class="card-text">Manage meeting categories and action items</p>
          <div>
            <button class="btn btn-primary" style="width: 12rem;" id="categories-btn" (click)="navToMeetings()">Categories</button>
          </div>
          <div>
            <button class="btn btn-primary mt-2" style="width: 12rem;" id="budgets-btn" (click)="navToActionItems()">Action Items</button>
          </div>
        </div>
    </div>
  </div>

</div>
