<p>dashboard-admin works!</p>
<div class="container mt-5">

  <div class="row">
    <div class="col-md">
      <div class="card" style="width: 18rem; height: 11rem;">
        <div class="card-header bg-dark text-white">
          <h5 class="card-title">Invoices</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Report on LA and CC invoices</p>
          <!-- <button class="btn btn-primary" (click)="navToEnquires()">Enquires</button> -->
        </div>
      </div>
    </div>
    <!-- <div class="col-md">
      <div class="card" style="width: 18rem; height: 11rem;">
        <div class="card-body">
          <h5 class="card-title">Residents</h5>
          <p class="card-text">Manage residents information</p>
          <button class="btn btn-primary" (click)="navToEnquires()">Residents</button>
        </div>
      </div>
    </div> -->
  </div>

</div>
