<!-- Enquires List page. Lists all active enquires -->
<div class="container">

  <div class="row">
    <div class="col-md">
      {{enquiryResident.foreName}} {{enquiryResident.surName}}
    </div>
    <div class="col-sm">
      <div *ngIf="enquiryResident.dob">{{enquiryResident.dob | date}}</div>
    </div>
    <div class="col-sm">
      <div *ngIf="enquiryResident?.updatedDate">{{enquiryResident.updatedDate | date}}</div>
    </div>
    <div class="col-sm">
      <div>{{enquiryResident.localAuthorityName}}</div>
    </div>
    <div class="col-md">
      <div>{{enquiryResident.careCategoryName}}</div>
    </div>
    <div class="col-md">
      <div>{{enquiryResident.careNeed | titlecase }}</div>
    </div>
    <div class="col-sm">
      <a [routerLink]="['/enquires-edit', enquiryResident.referenceId]">Edit</a>
    </div>
    <div class="col-sm">
      <a [routerLink]="['/enquires-action', enquiryResident.referenceId]">Actions</a>
    </div>
  </div>
  <div class="h-divider"></div>
</div>
