<!-- Enquires List page. Lists all active enquires -->
<div class="container">

  <div class="row">
    <div class="col-sm">
      {{enquiryResident.referenceId | slice:0:8}}
    </div>
    <div class="col-sm">
      {{enquiryResident.foreName}}
    </div>
    <div class="col-sm">
      {{enquiryResident.surName}}
    </div>
    <div class="col-sm">
      <div *ngIf="enquiryResident.dob">{{enquiryResident.dob | date}}</div>
    </div>
    <div class="col-sm">
      <a [routerLink]="['/enquires-edit', enquiryResident.referenceId]">Edit</a>
    </div>
  </div>
  <div class="h-divider"></div>
</div>
