<div class="container mt-4">

  <h1 class="display-4">Meetings</h1>
  <div *ngIf="loading" class="spinner-border"></div>

  <div class="container">
    <div class="row mb-3">
      <div class="col-md text-right">
        <button id="add-meeting-category" class="btn btn-primary btn-sm" (click)="openModal(contentAdd, 0)">Add</button>
      </div>
    </div>
  </div>

  <div class="row mb-3" *ngIf="meetingCategories.length === 0">
    <div class="col-5">
      Categories not found.
    </div>
  </div>

  <!-- header -->
  <div class="row bg-info text-white mb-3" *ngIf="meetingCategories.length > 0">
    <div class="col-10">
      Category Name
    </div>
    <div class="col-2">
      &nbsp;
    </div>
  </div>
  <!-- end of header-->

  <div *ngFor="let category of meetingCategories">
    <div class="row mt-1">
      <div class="col-10">
        <div>{{category.name}}</div>
        <div><span>{{category.description}}</span></div>
      </div>
      <div class="col-2 text-right">
        <button type="button" class="btn btn-outline-dark btn-sm mr-1"
        [attr.data-cy-category-edit]="category.id"
        (click)="openModal(contentAdd, category.id)" style='font-size:14px;'>&#9998;</button>
      </div>
      <div class="h-divider"></div>
    </div>
  </div>



  <!-- set dialog modal -->
  <ng-template #contentAdd let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Category</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="createMeetingCategoryForm">
        <div class="form-group">
          <label class="text-primary" for="name">Name</label>
          <span class="text-danger ml-1">*</span>
          <div class="input-group">
            <input type="text" class="form-control" formControlName="name"  id="name" name="name" (change)="onNameChange($event)" placeholder="" [value]="">
          </div>
        </div>
        <div class="form-group">
          <label class="text-primary" for="description">Description</label>
          <span class="text-danger ml-1"></span>
          <div class="input-group">
            <textarea class="form-control" formControlName="description"  id="description" name="description" (change)="onDescriptionChange($event)" placeholder="" [value]=""></textarea>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <div *ngIf="error" style="color: red">{{error}}</div>
      <button type="button" id="save-category" [disabled]="saving" class="btn btn-primary" (click)="saveCategory()">
        <span *ngIf="saving" class="spinner-border spinner-border-sm mr-1"></span>
        Save
      </button>
    </div>

  </ng-template>
  <!-- end of dialog-->



</div>
