<form [formGroup]="socialWorkerForm">
  <div class="form-group">
    <label for="foreName">
      <h6 class="text-primary">Fore Name</h6>
    </label>
    <input
      type="text"
      class="form-control"
      id="foreName"
      name="foreName"
      formControlName="foreName"
      (change)="onSwForeNameChange($event)"
      placeholder=""
    />
  </div>

  <div class="form-group">
    <label for="surName">
      <h6 class="text-primary">Sur Name</h6>
    </label>
    <input
      type="text"
      class="form-control"
      id="surName"
      name="surName"
      formControlName="surName"
      (change)="onSwSurNameChange($event)"
      placeholder=""
    />
  </div>

  <div class="form-group">
    <label for="phoneNumber">
      <h6 class="text-primary">Phone Number</h6>
    </label>
    <input
      type="text"
      class="form-control"
      id="phoneNumber"
      name="phoneNumber"
      formControlName="phoneNumber"
      (change)="onSwPhoneNumberChange($event)"
      placeholder=""
    />
  </div>

  <div class="form-group">
    <label for="email">
      <h6 class="text-primary">Email</h6>
    </label>
    <input
      type="text"
      class="form-control"
      id="email"
      name="email"
      formControlName="email"
      (change)="onSwEmailChange($event)"
      placeholder=""
    />
  </div>
</form>
