<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user"> -->
  <header class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>

      <!-- Authorized only -->
      <li class="nav-item" *ngIf="isAuthorized">
        <a class="nav-link" [routerLink]="['residents']">Residents</a>
      </li>

      <!-- Admin only -->
      <li class="nav-item" *ngIf="isAdmin && isLoggedIn">
        <a class="nav-link" [routerLink]="['admin']">Admin</a>
      </li>

      <!-- Anonymous only -->
      <!-- <li class="nav-item" *ngIf="!isAuthorized">
        <a class="nav-link" [routerLink]="['login']">Login</a>
      </li> -->

      <!-- Authorized only -->
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>

    <span class="navbar-text">
      <!-- <span class="badge badge-warning" *ngIf="isAuthorized">Authorized</span>
      <span class="badge badge-danger" *ngIf="isAdmin">Admin</span> -->
    </span>
</header>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>