<div class="container">
  <div class="row">
    <div class="col-4"><label class="text-primary" for="name">Name</label></div>
    <div class="col-6"><label class="text-primary" for="name">Description</label></div>
    <div class="col-2"><label class="text-primary" for="name">Adhoc</label></div>
  </div>
  <ng-container class="row" *ngFor="let item of meetingActionItemsInput; let i = index;">
    <div class="row">
      <div class="col-4">
        <div><input type="text" class="form-control"   id="name" name="name" placeholder="" [(ngModel)]="item.name"></div>
      </div>
      <div class="col-6">
        <div><input type="text" class="form-control"  id="description" name="description" placeholder="" [(ngModel)]="item.description"></div>
      </div>
      <div class="col-2">
        <div>
          <input type="checkbox"  id="isAdhoc" name="isAdhoc" [(ngModel)]="item.isAdhoc" />
          <button id="remove-action-item" name="remove-action-item" class="btn btn-primary btn-sm ml-4" (click)="removeActionItemFromArray(i)">X</button>
        </div>
      </div>
    </div>
    <hr/>
  </ng-container>
</div>
