<div class="container mt-4">

  <h1 class="display-4">Meeting Action Items</h1>
  <div *ngIf="loading" class="spinner-border"></div>

  <div class="container">
    <div class="row mb-3">
      <div class="col-md text-right">
        <button id="add-action-item" class="btn btn-primary btn-sm" (click)="openModal(contentAdd, 0, 0)">Add</button>
      </div>
    </div>
  </div>

  <div class="row mb-3" *ngIf="meetingCategories.length === 0">
    <div class="col-5">
      Categories not found.
    </div>
  </div>

  <div class="row" id="grid-data" *ngFor="let category of meetingCategories">
    <div class="col-12">
      <h5 class="text-primary">
        {{category.name}}
      </h5>

      <div class="row" *ngFor="let act of category.meetingActionItems">
        <div class="col-10">
          <span class="ml-4">
            <span class="text-info">{{act.name}}:</span>
            <span class="ml-2">{{act.description}}</span>
          </span>
        </div>
        <div class="col-2 text-right">
          <button type="button" class="btn btn-outline-dark btn-sm mr-1" [attr.data-cy-meeting-actionitem-edit]="act.id"
            (click)="openModal(contentAdd, category.id, act.id)" style='font-size:14px;'>&#9998;</button>
        </div>
        <div class="h-divider"></div>
      </div>
    </div>
  </div>




  <!-- dialog box templ for add action items-->
  <ng-template #contentAdd let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{categoryDialogTitle}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="createMeetingActionItemForm">
        <div class="form-group">
          <label class="text-primary" for="meetingCategory">Meeting Category</label>
          <span class="text-danger ml-1">*</span>
          <div class="input-group">
            <select id="meetingCategory" formControlName="meetingCategory" class="form-control"
              (change)="onMeetingCategoryChange($event)">
              <option value=''>Choose...</option>
              <option *ngFor="let mc of meetingCategories; let index" [value]=mc.id>
                {{mc.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="text-primary" for="name">Action Item</label>
          <span class="text-danger ml-1">*</span>
          <div class="input-group">
            <input type="text" class="form-control" formControlName="name" id="name" name="name"
              (change)="onNameChange($event)" placeholder="" [value]="">
          </div>
        </div>
        <div class="form-group">
          <label class="text-primary" for="name">Description</label>
          <span class="text-danger ml-1"></span>
          <div class="input-group">
            <textarea type="text" class="form-control" formControlName="description" id="description" name="description"
              (change)="onDescriptionChange($event)" placeholder="" [value]=""></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="text-primary" for="name">Adhoc Action?</label>
          <span class="text-danger ml-1"></span>
          <div>
            <input style="width: 20px; height: 20px;" formControlName="isAdhoc" type="checkbox" id="isAdhoc" name="isAdhoc"
              (change)="onIsAdhoc($event)">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div *ngIf="error" style="color: red">{{error}}</div>
      <button type="button" id="save-action-item" [disabled]="saving" class="btn btn-primary"
        (click)="saveActionItem()">
        <span *ngIf="saving" class="spinner-border spinner-border-sm mr-1"></span>
        Save
      </button>
    </div>
  </ng-template>



</div>