<div class="mt-5">

  <ngb-accordion #acc="ngbAccordion" [activeIds]="activeIds">

    <ngb-panel id="panel-profile" title="Profile" class="text-white">
      <ng-template ngbPanelContent>

        <div class="form-group">
          <label *ngIf="enquiryResident.referenceId" for="referenceId">Reference Id:
            {{ enquiryResident.referenceId }}</label>
        </div>

        <form [formGroup]="enquiryEditForm">
          <div class="form-group">
            <label for="careHome">
              <h6 class="text-primary">Care Home</h6>
            </label>
            <select class="custom-select" name="careHome" id="careHome" formControlName="careHome"
              (change)="oncareHomeChange($event)">
              <option value="" selected>Choose...</option>
              <option *ngFor="let careHome of careHomeDetails; let i = index" [value]="careHome.id">
                {{careHome.name}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="localAuthority">
              <h6 class="text-primary">Local Authority</h6>
            </label>
            <select class="custom-select" name="localAuthority" id="localAuthority" formControlName="localAuthority"
              (change)="onLocalAuthorityChange($event)">
              <option value="" selected>Choose...</option>
              <option *ngFor="let la of localAuthorities; let i = index" [value]="la.id">
                {{la.name}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <input type="checkbox" name="isPrivate" id="isPrivate" formControlName="isPrivate"
              (click)="onIsPrivateChange($event)">
            <label for="isPrivate" class="ml-2">
              <h6 class="text-primary">Private</h6>
            </label>
          </div>

        </form>

        <resident-profile-edit [foreName]="enquiryResident.foreName" [surName]="enquiryResident.surName"
          [middleName]="enquiryResident.middleName" [dob]="enquiryResident.dob" [gender]="enquiryResident.gender"
          [maritalStatus]="enquiryResident.maritalStatus" (foreNameUpdated)="onForeNameUpdated($event)"
          (surNameUpdated)="onSurNameUpdated($event)" (middleNameUpdated)="onMiddleNameUpdated($event)"
          (dobUpdated)="onDobUpdated($event)" (genderUpdated)="onGenderUpdated($event)"
          (martialStatusUpdated)="onMartialStatusUpdated($event)">
        </resident-profile-edit>

      </ng-template>
    </ngb-panel>

    <ngb-panel id="panel-address" title="Address">
      <ng-template ngbPanelContent>

        <address-edit [street1]="enquiryResident.address?.street1" [street2]="enquiryResident.address?.street2"
          [city]="enquiryResident.address?.city" [county]="enquiryResident.address?.county"
          [postCode]="enquiryResident.address?.postCode" (street1Updated)="onStreet1Updated($event)"
          (street2Updated)="onStreet2Updated($event)" (cityUpdated)="onCityUpdated($event)"
          (countyUpdated)="onCountyUpdated($event)" (postCodeUpdated)="onPostCodeUpdated($event)">
        </address-edit>

      </ng-template>
    </ngb-panel>

    <ngb-panel title="Social Worker">
      <ng-template ngbPanelContent>
        <social-worker-detail-edit [foreName]="enquiryResident.socialWorker?.foreName"
          [surName]="enquiryResident.socialWorker?.surName" [phoneNumber]="enquiryResident.socialWorker?.phoneNumber"
          [email]="enquiryResident.socialWorker?.email" (swForeNameUpdated)="onSwForeNameUpdated($event)"
          (swSurNameUpdated)="onSwSurNameUpdated($event)" (swPhoneNumberUpdated)="onSwPhoneNumberUpdated($event)"
          (swEmailUpdated)="onSwEmailUpdated($event)">
        </social-worker-detail-edit>
      </ng-template>
    </ngb-panel>

    <ngb-panel title="Care Type Room Details">
      <ng-template ngbPanelContent>
        <care-type-edit [isCareHomeSelectionChanged]="isCareHomeSelectionChanged" [careCategories]="careCategories"
          [careCategoryId]="enquiryResident.careCategoryId" [careNeed]="enquiryResident.careNeed"
          [stayType]="enquiryResident.stayType" (careCategoryUpdated)="onCareCategoryUpdated($event)"
          (careNeedUpdated)="oncareNeedUpdated($event)" (stayTypeUpdated)="onStayTypeUpdated($event)">
        </care-type-edit>

        <room-location-edit [isCareHomeSelectionChanged]="isCareHomeSelectionChanged" [roomLocations]="roomLocations"
          [reservedRoomLocation]="enquiryResident.reservedRoomLocation"
          [reservedRoomNumber]="enquiryResident.reservedRoomNumber"
          (roomLocationUpdated)="onRoomLocationUpdated($event)" (roomNumberUpdated)="onRoomNumberUpdated($event)">
        </room-location-edit>
      </ng-template>
    </ngb-panel>

    <ngb-panel title="Other">
      <ng-template ngbPanelContent>
        <enquiry-misc-edit [moveInDate]="enquiryResident.moveInDate"
          [familyHomeVisitDate]="enquiryResident.familyHomeVisitDate" [enquiryDate]="enquiryResident.enquiryDate"
          [responseDate]="enquiryResident.responseDate" [response]="enquiryResident.comments"
          (moveInDateUpdated)="onMoveInDateUpdated($event)"
          (familyHomeVisitDateUpdated)="onFamilyHomeVisitDateUpdated($event)"
          (enquiryDateUpdated)="onEnquiryDateUpdated($event)" (responseDateUpdated)="onResponseDateUpdated($event)"
          (responseUpdated)="onResponseUpdated($event)" (commentsUpdated)="onCommentsUpdated($event)">
        </enquiry-misc-edit>

      </ng-template>
    </ngb-panel>

  </ngb-accordion>

</div>

<!-- <div>
  <form [formGroup]="enquiryEditForm">
    <div class="form-group">
      <label for="status">Status</label>
      <select class="custom-select" name="status" id="status" formControlName="status"
        (change)="onStatusChange($event)">
        <option value="" selected>Choose...</option>
        <option *ngFor="let status of statuses;" [value]="status.key">
          {{status.value}}
        </option>
      </select>
    </div>
  </form>
</div> -->

<div>
  <div class="form-group">
    <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    <button (click)="onSubmit()" [disabled]="saving" class="btn btn-primary ml-5">
      <span *ngIf="saving" class="spinner-border spinner-border-sm mr-1"></span>
      Save
    </button>
    <div *ngIf="errors.length > 0" class="mt-3">
      <div *ngFor="let error of errors" class="alert alert-danger">
        {{error}}
      </div>
    </div>
  </div>
</div>